[sources.file_logs]
type = "file"
include = ["/var/log/*.log"]
  
[transforms.parse_logs]
type = "remap"
inputs = ["file_logs"]
source = '''
parsed = parse_regex(string!(.message), r'^(?P<timestamp>\S+) (?P<level>\S+): (?P<message>.*)$')
. = merge(., parsed)
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_logs"]
database = "logs"
table = "server_logs"
endpoint = "http://192.168.1.4:8123"  # Внутренний IP ClickHouse
compression = "none"
healthcheck = true