# Default Vector configuration
data_dir = "{{ vector_data_dir }}"

[sources.http_input]
  type = "http_server"
  address = "{{ vector_sources.http_input.address }}"
  encoding.codec = "{{ vector_sources.http_input.encoding.codec }}"

[sinks.clickhouse_output]
  type = "{{ vector_sinks.clickhouse_output.type }}"
  inputs = {{ vector_sinks.clickhouse_output.inputs | to_json }}
  endpoint = "{{ vector_sinks.clickhouse_output.endpoint }}"
  database = "{{ vector_sinks.clickhouse_output.database }}"
  table = "{{ vector_sinks.clickhouse_output.table }}"
  compression = "{{ vector_sinks.clickhouse_output.compression }}"