# Default Vector configuration
  data_dir = "{{ vector_data_dir }}"
  
  # Source for Nginx logs
  [sources.nginx_logs]
    type = "file"
    include = ["/var/log/nginx/my_access.log"]
    read_from = "end"
  
  # Console output
  [sinks.console]
    type = "console"
    inputs = ["nginx_logs"]
    encoding = { codec = "{{ vector_sinks.console.encoding.codec | default('json') }}" }
  
  # File output
  [sinks.file]
    type = "file"
    inputs = ["nginx_logs"]
    path = "{{ vector_sinks.file.path }}"
    encoding = { codec = "{{ vector_sinks.file.encoding.codec | default('json') }}" }
  
  # ClickHouse output
  [sinks.clickhouse_output]
    type = "clickhouse"
    inputs = ["nginx_logs"]
    endpoint = "{{ vector_sinks.clickhouse_output.endpoint }}"
    database = "{{ vector_sinks.clickhouse_output.database }}"
    table = "{{ vector_sinks.clickhouse_output.table }}"
    compression = "{{ vector_sinks.clickhouse_output.compression }}"
    format = "{{ vector_sinks.clickhouse_output.format | default(vector_defaults.clickhouse.format) }}"
    healthcheck = {{ vector_sinks.clickhouse_output.healthcheck | default(vector_defaults.clickhouse.healthcheck) | lower }}