[sources.test_logs]
type = "file"
include = ["/var/log/test.log"]
read_from = "beginning"

[transforms.parse_logs]
type = "remap"
inputs = ["test_logs"]
source = '''
parsed = parse_regex!(.message, r'^(?P<timestamp>[^ ]+) (?P<level>[A-Z]+): (?P<message>.+)$')
. = merge(., parsed)
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_logs"]
endpoint = "http://{{ clickhouse_url }}:8123"
database = "logs"
table = "server_logs"
compression = "none"
skip_unknown_fields = true
healthcheck = true